body{
    color:#40514e;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather' , serif;
    
}

hr{
    border-style:  none;
    border-top-style: dotted ;
    border-color: grey ;
    border-width: 6px;
    width: 5%;
    margin: 100px auto;
   

}


p{
    line-height: 2;

}
h1{
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    color: #66bfbf;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: bold;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
    font-style: normal;
}
a{
    color:#11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px ;
    text-decoration: none;
}
a:hover{
    color:#EAf6f6;
}
.top-container{
    background-color: #e4f9f5;
    padding-top: 100px;
    size :2em;
}

.middle-container{
    margin:100px 0;
}
.bottom-cloud{
    position: absolute;
    left:250px;
    bottom:300px;
}
.top-cloud{
    position: absolute;
    right:300px;
    top:40px;
}
.bottom-container{
    background-color:#66bfbf;
    padding: 50px 0 20px;
}
.footer-link{

}

.copyright{
    color:eaf6f6;
    font-size: 0.75rem;
    padding :20px 0;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }
#profile{
    margin: 10px;
    
}

.pro{
    text-decoration: underline;
}

.intro{
    width: 20%;
    margin: auto;
}
.contact-message{
    width : 30%;
    margin: 40px auto 60px;
}

img{
    border-radius: 50%;
}
.skill-row{
    width: 50%;
    margin: 100 auto 100 auto;
    text-align: left;
    font-size: medium
}
.skill-row-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.chilli-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
